Babel==2.2.0
Django==1.8.12
django-admin-interface==0.1.4
django-autofixture==0.12.0
django-colorfield==0.1.10
django-flat-theme==1.1.2
django-location-field==1.6.1
django-phonenumber-field==1.1.0
django-tastypie==0.13.3
django-tastypie-swagger==0.1.4
fake-factory==0.5.7
ipaddress==1.0.16
phonenumberslite==7.2.8
python-dateutil==2.5.2
python-mimeparse==1.5.1
pytz==2016.3
requests==2.9.1
six==1.10.0
